* {
    margin: 0; padding: 0;
}

    
     
     *{
        font-size: 1em;
        font-family: "IBM Plex Mono", monospace;;
    }
    
    h1{
        color: rgb(16, 0, 246);
        font-size: 5em;
        float: left
       
    }

    h2{
        width: 5%;
        padding: 5%;
        height: auto;
        float:left
    }
    
    
    nav{
        display: inline;
        width: 20%;
        padding: 5%;
        height: auto;
        float: left;
        overflow:auto;
    }
    
    #header{
        width: 1%;
        margin: 1%;
        padding: 1%;
        float: left;
    }



    a {
        text-decoration: none;
        text-transform: lowercase;
        font-weight: bold;
        color: aliceblue;
    
    }
    
    a:link{
        color:rgb(13, 4, 255);
    
    }
    a:visited{
        color:rgb(4, 0, 255);
    }
    
    a:hover{
        color:rgb(43, 255, 0);
    }
    

    
    .aboutme{
       color: aliceblue;
    }
    
   
    
    ul{
        list-style-type: none;
    }


    
    img{ width:30% ;
       height: auto;
       
    } 
    
    

  
    body{
        background-color: rgb(85, 255, 0);
        background-image: url(images/hands.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;

            }
        
    
 footer{
        font-weight: bold;
        width: 100%;
        margin: 0%;
        padding: 5%;
        background-color: rgb(43, 255, 0);
        opacity: 50%;
        z-index: -3;
    }

#wrapper{
    width: 80%;
    margin:auto;
    position: relative;
}

.container{
    display: flex;
    text-align: justify;
}

   

        
    /* Columns */

    .columns {float:left;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    /* End Columns CSS */

   
    
  

    @media only screen and (max-width: 480px) and (max-width: 979px) 
        body {
            background color 
        }

        h1 {

        }

        div {

            width: 100%
        }

    @media (max-width: 480px) {

        body {

        }

        h1 {

        }

        div {

            width: 100%
        }
    }