* {
    margin: 0; padding: 0;
}

    
     
     *{
        font-size: 1em= 16pt;
        font-family: "IBM Plex Mono", monospace;;
    }
    
    h1 {
        color: rgb(16, 0, 246);
        font-size: 5em;
    }
    
    h5{
        font-size: 2em;
        line-height: .01em;
    }
    
    a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    
    }
    
    a:link{
        color:rgb(13, 4, 255);
    
    }
    a:visited{
        color:rgb(4, 0, 255);
    }
    
    a:hover{
        color:rgb(43, 255, 0);
    }
    
    
    p{
        line-height: 1em;
        font-size: 1em;
        text-align: center;
        width: 30%;
        height: auto;
    }
    
    footer{
        font-weight: bold;
    }
    
    ul{
        list-style-type: none;
    }
    
    img{ width:30% ;
       height: auto;
         
    } 
    

    
    body{
        background-color: rgb(85, 255, 0);
        background-image: url(images/hands.jpeg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: none;
    }

    /* Columns */

    .columns {float:left;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    /* End Columns CSS */

    #wrapper {
        width: 80%;
        margin: auto;
    }
    
    div{
        box-sizing: border-box;
        border: 1px black solid
        /*border: 1px black solid; */
    }